@use "../../base/variables" as *;

.maintenance {

    &-loading {
        display: flex;
        padding: 25px;
        flex-direction: column;
        align-items: center;

        .loading-text {
            margin: 10px 0;
            font-family: $PTAstraSans;
            @include font(20, 400, $color-black);
        }

        .notification-text {
            margin: 10px 0;
            font-family: $PTAstraSans;
            @include font(20, 400, $color-main-red);
        }
    }

    &-information {
        padding: 5px 10px 10px 10px;
    }
}